

* {
    
    margin: 0px;
    box-sizing: border-box; 
    
}

body{
    background-color: black;
    height:100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    padding: 35px 4%;
    background-color: #282828;
}

header > .interface{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.links>li>a{
    font-family: 'Poppins';
    color: #DCDCDC;
    text-decoration: none;
    display: inline-block;
}

.links>li>a:hover{
    color: white;
    transform: scale(1.05);
}

.links>li{
    display:inline-block;
    padding: 0 40px
}

.botao{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border:0;
    border-radius: 12px;
    background-color: #c2d1f0;
    
}

.logo{
    display: inline-block;
    color: white;
    font-size: 35px;
    font-family:'Poppins';
}

section{
    display: flex;
    padding:0 12%;
    padding-top: 8%;
    align-items: center;
    
    
}
.text{
    padding-left: 15%;
    color: antiquewhite;
}

.text h1{
    font-size: 80px;
}

.text h2{
    font-size: 60px;
    color: #8A2BE2;
    font-family:'Roboto';
}

.text p{
    margin:10px;
    font-size: 20px;
}

section img{
    border-radius: 2%;
}

.link-logos{
    font-size: 25px;
    display: flex;
    padding-left: 25%;
    padding-top: 10px;
}


ul li{
    list-style-type:none;
    display: inline-block;
    margin: 13px;
    
}

ul li a{
    color:white;
}


.botao:hover{
    transform: scale(1.05);
}

.skills{
    display:flex;
    color:white;
    align-items: center;
    justify-content: center;
}

.skills h3{
    padding:100px;
    font-size: 50px;
    color:antiquewhite;
    font-family: 'Roboto';
}